body {
    font-family: Verdana, Helvetica, sans-serif;
    background: #c5d1d7;
}

.Container {
    width: 800px;
    margin: 0 auto; 
}
/*Timeline Page*/
	
	/*Future*/

	ul#GoalsList {
		list-style: circle;
		padding-left: 313px;
	}	
	
	ul#GoalsList li{
		padding-top: 11px;
		padding-bottom: 11px;
	}	
	
	
	#Future h3 {
		text-align: center;
		padding-top: 33px;
		padding-bottom: 11px;
	}

	/*Past*/
	
	#Past h2 {		
		Padding-bottom: 0px
	}
	
	span {/*helping to flip the "^" in the past header*/
        display: inline-block;
        margin: 0px;
      }
	
	.flip { 
		transform: scale(1, -1);
		-moz-transform: scale(1, -1);
		-webkit-transform: scale(1, -1);
		-o-transform: scale(1, -1);
		-ms-transform: scale(1, -1);
		transform: scale(1, -1);
		}
		
	#Timeline_holder {
		background: url(images/Timeline/Timeline1.jpg) repeat-y;
	}
	
	#Footer_TimelinePage {
		background: #000000;
		padding-top: 22px;
		padding-bottom:50px;
		margin-top: -22px;
		color: #fff;
	}
	
	ul#PastEventsLeft {
		float: left;
	}
	
	ul#PastEventsLeft li {
		list-style: none;
		padding-bottom: 44px;
		padding-left: 101px
	}
	
	ul#PastEventsRight {
		list-style: none;
		float: right;
		
	}
	
	ul#PastEventsRight li {
		padding-bottom: 44px;
		padding-right: 101px
	}
	
/*End of Timeline page*/

body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }

/*Header*/
	#Main {
    background: url(images/Main/header_slice.jpg) repeat-x; 
	}

	#Logo {
		background: url(images/Main/Logo_Website.png) no-repeat;
		height: 151px;
		width: 151px;
		float: left;
	}

	#Logo h2 {
		text-indent: -9999px;
	}
 
	#Header {
		padding-top: 25px; 
	}

	#Title {
		float: left;
		padding-top: 30px;
		padding-left: 46px; 
	}

	#Title h1 {font-size: 66px; color: #000000; }

 
	ul#NavigationBar li a {
		font-size: 22px;
		color: #d2d2d2;  /*#ebe8e8*/
		text-decoration: none; 
	}
	
	ul#NavigationBar li {	
		float: left;
		padding-left: 48.5px;
		padding-right: 48.5px;
		padding-bottom: 0px;
	}

	ul#NavigationBar {
		list-style: none;
		padding-top: 12px;
		padding-bottom: 22px;
	}

	
	#NavigationBar h3 {
		font-size: 22px;
		color: #ffffff;
		font-weight: normal; 
		text-align: center;

	}

/*Body (General)*/
	.Content h2 {
		text-align: center;
		font-size: 36px;
		color: #000000; 
		Padding-top: 22px;
		Padding-bottom: 22px
	}
 
	.Content h3 { /*Sub-Heading*/
		text-align: center;
		font-size: 22px;
		color: #373737;
	}
 
	.Content h4 {
		font-size: 22px;
		color: #373737;
		font-weight: normal; 
		text-align: center;
		padding-bottom: 22px;
	}
 
	.Content p {
		font-size: 16px;
		color: #595858; 
		text-align: center;
	}
 
	.Content small {
		font-size: 12px;
		color: #373737; 
	}
 
	.Content a {
		color: #0f6c8d;
		font-weight: bold;
		text-decoration: none; 
	}
	
	.dark {
		background: #b8c2c8;
		padding-bottom:22px;
	}
	
	.light {
		background: #c5d1d7;
		padding-bottom:22px;
	}